<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:file-paths.properties"/>

    <bean class="com.epam.app.facade.BookingFacadeImpl" >
        <constructor-arg type="com.epam.app.service.UserService" ref="com.epam.app.service.UserService"/>
        <constructor-arg type="com.epam.app.service.EventService" ref="com.epam.app.service.EventService"/>
        <constructor-arg type="com.epam.app.service.TicketService" ref="com.epam.app.service.TicketService"/>
    </bean>

    <bean id="com.epam.app.service.UserService" class="com.epam.app.service.UserService" autowire="byType"/>
    <bean id="com.epam.app.service.EventService" class="com.epam.app.service.EventService" autowire="byType"/>
    <bean id="com.epam.app.service.TicketService" class="com.epam.app.service.TicketService" autowire="byType"/>

    <bean id="storage.EventStorage" class="com.epam.app.storage.EventStorage" init-method="init" p:filePath="${eventFile}"/>
    <bean id="storage.TicketStorage" class="com.epam.app.storage.TicketStorage" init-method="init" p:filePath="${ticketFile}"/>
    <bean id="storage.UserStorage" class="com.epam.app.storage.UserStorage" init-method="init" p:filePath="${userFile}"/>

    <bean class="com.epam.app.dao.EventDao" autowire="byType"/>
    <bean class="com.epam.app.dao.TicketDao" autowire="byType"/>
    <bean class="com.epam.app.dao.UserDao" autowire="byType"/>
</beans>